<!Doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, userscalable=no">
  <title><%= data.maker %></title>

  <link rel="stylesheet" href="/public/style_flute.css">
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&display=swap" rel="stylesheet">
</head>

<body>
  <div id="container">
    <header>
      <!-- ロゴ -->
      <div id="logo">
        <h1><img src="/public/images/flute.png" alt="フルートロゴ"></h1>
      </div>
    </header>
    <div id="wrapper">
      <!-- タイトル -->
      <div id="title">
        <h2>フルートメーカー</h2>
      </div>
      <!-- 詳細表示 -->
      <section id="main">
        <h3><%= data.maker %>の編集</h3>
        <div class="sec-inner">
        <!--ユーザーがボタンを押したら，入力されたデータをまとめて/flute/update/<%= data.id - 1%>に送ってね-->
        <form action="/flute/update/<%= data.id - 1%>" method="POST">
          <div class="sec-inner">
          <dl>
            <div class="dl-wrap">
              <dt>メーカー</dt>
              <dd><input type="text" name="maker" value="<%= data.maker %>"></dd>
              </div>
              <div class="dl-wrap">
                <dt>国</dt>
                <dd><input type="text" name="country" value="<%= data.country %>"></dd>
              </div>
              <div class="dl-wrap">
                <dt>創始年</dt>
                <dd><input type="text" name="year" value="<%= data.year %>"></dd>
              </div>
              <div class="dl-wrap">
                <dt>音色の特徴</dt>
                <dd><input type="text" name="tone" value="<%= data.tone %>"></dd>
              </div>
            </dl>

          <div class="btn">
            <input type="submit" values="登録">
            <button type="button" onclick="location.href='/flute/<%= data.id - 1%>'">詳細に戻る</button>
          </div>
          </div>
        </form>
        </div>
      </section>
    </div>
    <footer>
      <!-- フッター -->
      <div id="footer">
        <p class="ft-txt">25G1039 Runa KAWASE</p>
      </div>
    </footer>
  </div>
</body>

</html>