<!Doctype html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title><%= data.title %></title>

	<link rel="stylesheet" href="/public/style_zelda.css">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Kaisei+Opti&family=UnifrakturMaguntia&display=swap" rel="stylesheet">

</head>

<body>
	<div id="container"> 
		<header>
			<!-- ロゴ -->
			<div id="logo">
				<h1><img src="/public/images/logo_mono.png" alt="ゼルダロゴ"></h1>
			</div>
		</header>
		
		<div id="wrapper"> 
			<!-- タイトル -->
			<div id="title">
				<h2>Software Detail</h2>
			</div>
			<!-- 詳細表示 -->
			<section id="main">
				<h3><%= data.title %></h3>
				<div class="sec-inner">
					<dl>
						<div class="dl-wrap">
							<dt>発売年</dt>
							<dd>
								<%= data.year %>
							</dd>
						</div>
						<div class="dl-wrap">
							<dt>遊べるハード</dt>
							<dd>
								<%= data.hardware %>
							</dd>
						</div>
					</dl>
                    <!--html規格でaタグの中にbuttanタグは挿入禁止．よって，buttanタグに統一-->
					<div class="btn">
						<button type="button" onclick="location.href='/zelda/edit/<%= id %>'">編集</button>
						<button type="button" onclick="location.href='/zelda/delete/<%= id %>';return confirm('本当に削除しますか？');" class="delete">削除</button>
						<button type="button" onclick="location.href='/zelda'">ソフトウェア一覧に戻る</button>
					</div>
				</div>
			</section>			
		</div>
		<footer>
			<!-- フッター -->
			<div id="footer">
				<p class="ft-txt">25G1039 Runa KAWASE</p>
			</div>
		</footer>
	</div>
</body>
</html>
