<!doctype html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, userscalable=no">
<title><%= data.title %>｜ゼルダのソフト一覧</title>

	<link rel="stylesheet" href="/public/css/style.css">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Kaisei+Opti&family=UnifrakturMaguntia&display=swap" rel="stylesheet">

</head>

<body>
	<div id="container"> 
		<header>
			<!-- ロゴ -->
			<div id="logo">
				<h1><img src="/public/images/logo_mono.png" alt="ゼルダロゴ"></h1>
			</div>
		</header>
		
		<div id="wrapper"> 
			<!-- タイトル -->
			<div id="title">
				<h2>Edit Software</h2>
			</div>
			<!-- 詳細表示 -->
			<section id="main">
				<h3><%= data.title %>の編集</h3>
				<div class="sec-inner">
				<!--ユーザーがボタンを押したら，入力されたデータをまとめて/zelda/update/<%= data.id %>に送ってね-->
				<form action="/zelda/update/<%= data.id - 1%>" method="POST">
					<div class="sec-inner">
						<dl>
							<div class="dl-wrap">
								<dt>タイトル</dt>
								<dd>
									<input type="text" name="title" value="<%= data.title %>">
								</dd>
							</div>
							<div class="dl-wrap">
								<dt>発売年</dt>
								<dd>
									<input type="text" name="year" value="<%= data.year %>">
								</dd>
							</div>
							<div class="dl-wrap">
								<dt>遊べるハード</dt>
								<dd>
									<input type="text" name="hardware" value="<%= data.hardware %>">
								</dd>
							</div>
						</dl>
					
						<div class="btn">
							<input type="submit" values="登録">
							<button type="button" onclick="location.href='/zelda/<%= data.id - 1%>'">詳細に戻る</button>
						</div>
					</div>
				</form>
				</div>
			</section>			
		</div>
		<footer>
			<!-- フッター -->
			<div id="footer">
				<p class="ft-txt">25G1039 Runa KAWASE</p>
			</div>
		</footer>
	</div>
</body>
</html>
