<!Doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        時の勇者の敗北ルートの詳細
    </title>
</head>

<body>
    <h2>
        時の勇者の敗北ルートの詳細
    </h2>
    <table>
        <% if (data.id==='1' ) { %>
            <ul>
                <% for(let game of data.games) { %>
                    <li>
                        <%= game %>
                    </li>
                    <% } %>
            </ul>
            <% } %>

        <tr>
            <td>
                <%= data.id %>
            </td>
        </tr>
        <tr>
            <td>
                <%= data.name1 %>
            </td>
        </tr>
        <tr>
            <td>
                <%= data.name2 %>
            </td>
        </tr>
        <tr>
            <td>
                <%= data.name3 %>
            </td>
        </tr>
        <tr>
            <td>
                <%= data.name4 %>
            </td>
        </tr>
        <tr>
            <td>
                <%= data.name5 %>
            </td>
        </tr>
        <tr>
            <td>
                <%= data.name6 %>
            </td>
        </tr>
        <tr>
            <td>
                <%= data.name7 %>
            </td>
        </tr>
        <tr>
            <td>
                <%= data.name8 %>
            </td>
        </tr>
    </table>
    <a href="/zelda">駅一覧に戻る</a>
</body>

</html>