<!Doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>
    <%= data.title %>
  </title>
</head>

<body>
  <h2>
    <%= data.title %>の編集
  </h2>
  <!--ユーザーがボタンを押したら，入力されたデータをまとめて/zelda/update/<%= data.id %>に送ってね-->
  <form action="/zelda/update/<%= data.id - 1%>" method="POST">
    <table>
      <tr>
        <th>項目</th>
        <th>データ</th>
      </tr>
      <tr>
        <td>タイトル</td>
        <td><input type="text" name="title" value="<%= data.title %>"></td>
      </tr>
      <tr>
        <td>発売年</td>
        <td><input type="text" name="year" value="<%= data.year %>"></td>
      </tr>
      <tr>
        <td>遊べるハード</td>
        <td><input type="text" name="hardware" value="<%= data.hardware %>"></td>
      </tr>
    </table>
    <input type="submit" values="登録">
    <a href="/zelda/<%= data.id - 1%>">
      <button type="button">詳細に戻る</button>
    </a>
  </form>
</body>

</html>