<!Doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        <%= data.title %>
    </title>
</head>

<body>
    <h2>
        <%= data.title %>
    </h2>
    <table>
        <tr>
            <td>発売年</td>
            <td>
                <%= data.year %>
            </td>
        </tr>
        <tr>
            <td>遊べるハード</td>
            <td>
                <%= data.hardware %>
            </td>
        </tr>
    </table>

    <div class="actions">
        <a href="/zelda/edit/<%= id %>">
            <button>編集</button>
        </a>

        <a href="/zelda/delete/<%= id %>" onclick="return confirm('本当に削除しますか？');">
            <button style="color: red;">削除</button>
        </a>
        <a href="/zelda">
            <button type="button">タイトル一覧に戻る</button>
        </a>
    </div>
</body>

</html>